body {
  font-family: 'Monospace', 'Times New Roman', sans-serif;
  margin: 0;
  background-color: rgb(217, 220, 224);
}
.content {
  border: 3px solid rgb(22, 77, 100);
  margin: 10px auto;
  padding: 10px 10px;
  width: 60%;
  height: 50%;
  overflow: auto;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  top: 150px;
  line-height: 1.5em;
  
}
h1, h3, #NB {
  text-align: center;
}

#NB {
  color: #bf42f4;
  font-size: 15px;
  font-style: Ariel;
  font-weight: bold;
}

h1 {
  font-size: 100px;
  background-color: rgb(55,114,64);
  color: White;
  color: rgb(255,255,255);
  color: #fff;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 25px;
}

h3 {
font-size: 20px;
color: Blue;
color: rgb(0,0,255);
  color: #00F;
}

p {
  text-align: justify;
}

.header {
  //margin-top: 0;
  //padding-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.sidebar {
  display: inline-block;
  position: fixed;
  top: 150px;
  margin: 10px;
  padding: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #000;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar a: active {
  color: #3c7239;
}

.sidebar a:visited {
  color: #000;
}

#nav {
  height: 40px;
  background: rgb(112, 160, 109);
  width: 100%;
  margin-top: 0;
  text-align: center;
}

#nav li {
  list-style-type: none;
  display: inline;
}

#nav a {
  color: #fff;
  text-decoration: none;
  /*line-height: 50px;*/
  padding: 20px 50px;
  text-weight: bold;
  font-size: 1.5em;
  /*margin-top:20px;*/  
}

#nav a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  background-color: rgb(156, 161, 173);
  width: 100%;
  position: -webkit-sticky; /* Safari */
    position: sticky;
  bottom: 0;
  clear: both;
  padding: 5px;
  margin: 0;
}
