* {
    box-sizing: border-box;
}

body {
  font-family: 'Monospace', 'Times New Roman', sans-serif;
  margin: 0;
  background-color: rgb(217, 220, 224);
}

/* Style the header */
.header {
  font-size: 50px;
  background-color: rgb(55,114,64);
  color: White;
  color: rgb(255,255,255);
  color: #fff;
  /*margin: 0;*/
  padding: 50px;
    /*background-color: #f1f1f1;
    padding: 50px;
    text-align: center;*/
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
    padding: 10px;
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
  /*border: 3px solid rgb(22, 77, 100);*/
  margin: 10px auto;
  padding: 10px 10px;
  /*width: 60%;
  height: 50%;
  overflow: auto;*/
  /*border-radius: 10px;*/
  background-color: #fff;
  /*position: relative;
  top: 150px;*/
  line-height: 1.5em;
}

/* Style the footer */
.footer {
    /*background-color: #f1f1f1;
    padding: 10px;
    text-align: center;*/
    text-align: center;
  background-color: rgb(156, 161, 173);
  /*width: 100%;
  position: -webkit-sticky; /* Safari */
   /* position: sticky;
  bottom: 0;
  clear: both;*/
  padding: 5px;
  /*margin: 0;*/
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}


/*.content {
}*/

h1, h3, #NB {
  text-align: center;
}

#NB {
  color: #bf42f4;
  font-size: 15px;
  font-style: Ariel;
  font-weight: bold;
}

h1 {

}

h2 {
  font-size: 25px;
}

h3 {
font-size: 20px;
color: Blue;
color: rgb(0,0,255);
  color: #00F;
}

p {
  text-align: justify;
}

/*.header {
  //margin-top: 0;
  //padding-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}*/

/*.sidebar {
  display: inline-block;
  position: fixed;
  top: 150px;
  margin: 10px;
  padding: 10px;
}*/

.sidebar a {
  text-decoration: none;
  color: #000;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar a: active {
  color: #3c7239;
}

.sidebar a:visited {
  color: #000;
}

#nav {
  height: 40px;
  background: rgb(112, 160, 109);
  width: 100%;
  margin-top: 0;
  text-align: center;
}

#nav li {
  list-style-type: none;
  display: inline;
}

#nav a {
  color: #fff;
  text-decoration: none;
  /*line-height: 50px;*/
  padding: 20px 50px;
  text-weight: bold;
  font-size: 1.5em;
  /*margin-top:20px;*/  
}

#nav a:hover {
  text-decoration: underline;
}


